body {
    background-color: black;
    color: white;
    font-family: "Libre Baskerville", serif;
    text-align: center;
}

div {
    width: 40%;
    margin: 50px auto;
}

img {
    width: 100%;
    border: 5px solid white;
}

h1 {
    text-transform: uppercase;
}